{{ define "main" }}
<div class="max-w-4xl mx-auto px-4 py-12 sm:px-6 lg:px-8">
  <div class="bg-white shadow-xl rounded-lg overflow-hidden">
    <div class="bg-gradient-to-r from-primary to-primary-dark py-8 px-6 sm:px-10">
      <h1 class="text-white text-3xl font-bold">{{ .Title }}</h1>
      <p class="mt-2 text-white">{{ .Description }}</p>
    </div>

    <div class="px-6 py-8 sm:px-10">
      <div class="prose lg:prose-lg max-w-none">{{ .Content }}</div>
    </div>
    <div class="bg-gradient-to-r from-primary to-primary-dark py-8 px-6 sm:px-10 flex justify-center">
      <button
        style="
          width: auto;
          height: 58px;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          background-color: transparent;
          border: none;
          align-items: center;
        "
        onclick="window.open('https://go.twint.ch/1/e/tw?tw=acq.QBXtulBISAe3JptoHBGDNJILIoaIidgSHTLo_aDt_QQJzfFCxszfijmOhnya0Vk5.', '_blank')"
      >
        <img
          style="width: auto; height: 58px"
          alt="Embedded TWINT button"
          src="https://go.twint.ch/static/img/button_light_fr.svg"
        />
      </button>
    </div>
  </div>
</div>
{{ end }}
